
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


.navbar {
    position: fixed;
    height:60px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #b4b7f044;
    z-index: 10000;
    transition-duration: 1s;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #010101;
}
.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #1E2124;
}

.nav-link:hover{
    color: #482ff7;
}
.navbar .name{
    font-family: 'Meow Script', cursive;
    font-size: 35px;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: absolute;
        left: 50%;
        transform:translateX(-200%);
        opacity: 0;
        top: 5rem ;
        flex-direction: column;
        background-color: #b4b7f0ee;
        width: 90%;
        border-radius: 10px;
        transition-duration: 0.7s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        opacity: 1;
        transform: translateX(-50%);
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


.hero-container{
    position:relative;
    height: calc(100vh - 50px);;
    width:100%;
    text-align: center;
    color:#1E2124;
    background: linear-gradient(#2B1055, #7597DE);
    overflow: hidden;
}
.hero-container::before{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    height:50px;
    width: 100%;
    background: linear-gradient(to top, #1C0522, transparent);
    z-index: 10000;
}
.hero-container img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:calc(100vh - 50px);
    object-fit: cover;
}
.hero-container img#moon{
    mix-blend-mode: screen;
}
.hero-container img#mountains_front{
    z-index: 9998;
}
.hero-container img#mountains_behind{
    z-index: 99;
}

.hero-container .sub-container{
    height:auto;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 9999;
}
.cta{
    display: block;
    margin:15px auto;
    width: 150px;
    padding:10px 15px;
    font-size: 20px;
    background-color: rgba(210,86,61,0.88);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    color:white;
    outline: none;
    transition-duration: 1s;
}
.cta:hover{
    background-color: #c03417;
}
.hero-text{
    font-size:30px;
    text-align: center;
}

.hero-text span{
    font-size: 15px;
}
.avatar{
    width: 65px;
    height: 72px;
    border-radius: 50%;
}
.sm-icons a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin:5px 2px;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:50px 0px;
}
.services .card{
    width: 300px;
}
.services .card:nth-child(1){
    background-color:rgba(255,68,68,0.7);
    box-shadow: 20px 20px 50px rgba(255,68,68,0.5);
}
.services .card:nth-child(2){
    background-color:rgba(253,150,79,0.7);
    box-shadow: 20px 20px 50px rgba(253,150,79,0.5);

}
.services .card:nth-child(3){
    background-color:rgba(68,68,255,0.7);
    box-shadow: 20px 20px 50px rgba(68,68,255,0.5);

}
.services .card-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    opacity: 0.9;
}
.services .card-content{
    font-size: 15px;
    color: white;
    opacity: 0.9;
}
.services .card:hover .card-title, .services .card:hover .card-content{
    opacity: 1;
}
.contact-form{
    margin-top:100px;
    padding:10px;
    text-align: center;
    background-color: white;
}
.contact-form input, textarea, button{
    margin: 5px auto;
    padding:10px;
    width:80%;
    max-width:300px;
    border-radius: 20px;
    border: none;
    background: rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.contact-form button{
    width: auto;
    padding: 8px 15px;
    font-size: 20px;
    color: #1E2124;
    background-color: rgb(194,204,249);
    transition-delay: 1s;
}
.contact-form button:hover{
    background-color: #1E2124;
    color: rgb(194,204,249);;
}
.contact-form h3,h4{
    margin:10px auto;
}
.card{
    margin: 20px;
    padding:30px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.about-me .content{
    font-size:20px;
}
 footer {
     margin-top:-20px;
    background-color:#1E2124;
    padding: 20px;
    text-align: center;
    color: #646464;
    font-size: 15px;
}
footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social li a{
    color: white;
    margin:15px 5px;
    font-size: 20px;
    display: inline-block;
    opacity: 0.8;
    transition-property: transform;
    transition-duration: 0.4s;
}
footer .social li a:hover{
    transform: translateY(-15px);
    opacity: 1;
}
.contact-form h4{
    color:rgb(124,124,124);
}
.card[data-scroll], .contact-form{
    position: relative;
    transition: all 0.5s;
}
.card[data-scroll="out"], .contact-form[data-scroll="out"]{
    top:50px;
    opacity: 0;
}
.card[data-scroll="in"], .contact-form[data-scroll="in"]{
    top:0;
    opacity: 0.9;
}
